<div class="templateView">
    <!--Driver :{{ isDriver }}<br />
    Passenger :{{ isPassenger }}<br /> -->
    <!--<div class="list list-inset" style="width:80%">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
      <a class="button icon-right ion-location"></a>
    </div>-->
    <!--<a class="button icon-left ion-star button-positive" href="#/matching?location=a mock location">Get a RYDE</a>-->

    <div class="parent-div">

        <p>Search for destination</p>
        <div class="search-div">
            <input class="item-input searchInput noPadding" type="text" placeholder="Begin typing for your destination..." ng-model="searchText"></input>
            <a class="button button-small search-btn floatRight" ng-click="searchClick()"><i class="ion-android-search"></i></a>
        </div>

        <br />

        <!--<div class="list list-inset ion-scroll" style="margin:5%;">-->
        <p>Pick from Results<p>
        <ul class="list">
            <li ng-repeat="mapResult in mapResults.results | unique:'mapResult.name'">
                <a class="address-result" 
                   ng-href="#/matching?type={{ type }}&targetName={{ mapResult.name }}&targetX={{ mapResult.geometry.location.lng }}&targetY={{ mapResult.geometry.location.lat }}">{{ mapResult.name }}</a>
            </li>
        </ul>
    </div>
    <!--</div>-->
    <!--
    <div class="list list-inset" style="margin:5%;">
        <label class="input-label">Pick from POI</label>
        <ul class="list">
            <li class="item mapItem"><button class="button button-full button-clear destinationResult">Home</button></li>
        </ul>
    </div>
        -->
    <style>
        a.address-result, .search-div {
            background: white;
            opacity: 0.9;
            line-height: 1.0em;
            outline: solid #AAA 1px;
            padding: 0px;
            padding-left: 0.4em;
        }

        a.address-result {
            min-height: 34px;
            line-height: 2.0em;
            color: #777;
            font-weight: bold;
            font-size: 1.2em;
            width: 100%;
            text-align:left;
        }
        
        .parent-div {
            padding: 5%;
            padding-top: 10%;
        } 
        
        .searchItem {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        .noPadding {
            padding: 0;
        }

        .search-div {
            display:block;
            overflow:hidden;
        } 
        
        .floatRight {
            float: right;
            position: absolute;
            right: 5%;
        }

        .mapItem {
            padding: 8px;
        }

        .searchInput {
            width: 100%;
            display: block;
            float: left;
        }

        .maxWidth {
            width: 100%;
        }

        .search-btn {
            width: 37px;
            height: 34px;
            border-bottom-width: 0px;
            border-top-width: 0px;
            border-right-width: 0px;
            font-size: 18px;
            padding-top: 5px;
        }
    </style>
</div>