<div>
    <div class="people" >
        <img class="people-image" src="img/people.png" />
	</div>
    <a class="button-center ryde-blue-button" ng-click="grabARyde()"  style="margin-top:5%; margin-bottom:2%"><i class="ion-model-s icon-center">&nbsp;&nbsp;&nbsp;</i> Grab a <b>Ryde</b></a>
	<!--href="#/findRyde?type=passenger" href="#/findRyde?type=driver"-->
    <a class="button-center ryde-red-button" ng-click="giveARyde()"  style="margin-top: 5%;"><i class="ion-bag icon-center">&nbsp;&nbsp;&nbsp;</i> Offer a <b>Ryde</b></a>
</div>

<style>


    .button-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
        width: 60%;
    }
    
    .people  {
        padding-top:50px;
        padding-bottom:50px;
        margin: auto;
    	vertical-align: middle;
    	width: 80%;
    }

    .people-image {
        width: 85%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
    }
    
    .landingButtons {
    	margin-left: 10%;
    	font-size: 20pt;
    }
</style>