<div>
    <style>
        #map {
            position:absolute;
            top:0px;
            left:0px;
            right:0px;
            bottom:0px;
        }

        /*#footerArea
        {
            position: absolute;
            overflow: hidden;
            width: 100%;
            bottom: 0;
            left: 0;
        }

        #footerArea a {
            float:left;
            width: 50%;
            height: 40px;
        }

        #footerArea .accept {
            background-color: red;
        }

        #footerArea .decline {
            background-color: blue;
        }*/


        .ryde-dark-button {
            position: absolute;
            overflow: hidden;
            width: 100%;
            bottom: 0;
            left: 0;
        }

        .ryde-start {
            background:#0096d1!important;
        }

        .ryde-start:active, .ryde-start.activated{
            opacity:1!important;
        }

    </style>

    <div>        
        <div id="map">
        </div>

        <!--<div id="footerArea">
            <a class="ryde-blue-button" ng-href="#/tripFinished?location={{ location }}">Finish</a>
            <a class="ryde-red-button">CANCEL</a>
        </div>-->

        <a class="ryde-dark-button ryde-start" ng-click="startClick()" ng-show="!hasStarted">
            Start
        </a>

        <a class="ryde-dark-button ryde-start" ng-click="finishClick()" ng-show="hasStarted">
            Finish
        </a>

        <!--<a class="button icon-left ion-star button-positive" ng-href="#/mapDirections?location={{ location }}">start</a>
        <a class="button icon-left ion-star button-positive" ng-href="#/mapDirections?location={{ location }}">cancel</a>


        <a class="button icon-left ion-star button-positive" ng-href="#/tripFinished?location={{ location }}">finish</a>-->

    </div>
</div>