<div>
<style>

body {
	background-color: transparent;
}

h4 {
	vertical-align: middle;
	line-height: 150px;
	text-align: center;
	color: white;
}


.circle1 {
	background-color: rgba(48,127,184,0.4);
	border-radius: 50%;
	width: 250px;
	height: 250px;
    margin:auto;
	margin-top: 60px;
	-webkit-animation: myfirst 2s;
	animation: myfirst 5s;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
	animation-direction:alternate;
	-webkit-animation-direction:alternate;
	animation-timing-function:ease-in;
	-webkit-animation-timing-function:ease-in;
}

.circle2 {
	background-color: rgba(48,127,184,0.70);
	border-radius: 50%;
	width: 200px;
	height: 200px;
	position: absolute;

	padding: 0px;
	margin: 25px;
}

.circle3 {
	background-color: #2f7fb7;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	position: relative;
	padding: 0px;
	margin: 25px;
}

.button-assertive {
    bottom: 0;
    position: fixed;
    width: 100%;
	text-align: center;
}

.ryde-dark-button {

        position: absolute;
        overflow: hidden;
        width: 100%;
        bottom: 0;
        left: 0;

}

@-webkit-keyframes myfirst
{
from {background-color: rgba(48,127,184,0.40);}
to {background-color: rgba(48,127,184,1.0);}
}

@keyframes myfirst
{
from {background-color: rgba(48,127,184,0.40);}
to {background-color: rgba(48,127,184,1.0);}
}

</style>
<div>
	<div id = "base" class="circle1">
		<div class="circle2">
			<div class="circle3">
				<h4>Matching...</h4>
			</div>
		</div>
	</div>
	<a id ="cancelBut" class="ryde-dark-button" ng-click="cancelClick()">
		Cancel
	</a>
</div>
    </div>