<style>

    h4, h3 {
        color: dimgray;
        margin: 0px;
        margin-top: 20px;
    }

    h5 {
        color: dimgray;
    }

    #main {
        margin-left: 8%;
        margin-right: 8%;
        width: 84%;
    }

    #mainArea {
        background-color: white;
        display: inline-table;
        width: 100%;
        height: 30%;
        margin-top: 20px;
        padding: 0px;
        overflow:hidden;
    }

    #mainArea2 {
        background-color: white;
        display: inline-table;
        width: 100%;
        height: 35%;
        margin-top: 0px;
        padding-bottom: 20px;
    }
    
    #footerArea
    {
        position: absolute;
        overflow: hidden;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    #footerArea a {
        float:left;
        width: 50%;
        height: 40px;
    }

    a.accept {
        position: absolute;
        width: 50%;
        left: 0;
        bottom: 0;
    }

    a.decline {
        position: absolute;
        width: 50%;
        right: 0;
        bottom: 0;
    }


    #profilePic {
        position: relative;
        background-image: url("img/blank_driver.png");
        background-repeat:no-repeat;
        background-size: 100px;
        width: 35%;
        height: 100px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        float: left;
    }

    #profileText {
        position: relative;
        margin-top: 10px;
        padding: 20px;
    }

    .goodDriver {
        position: relative;
        background-image: url("img/good_driver.png");
        background-size: 100px;
        background-repeat: no-repeat;
        background-position-x: center;
        width: 70%;
        height: 100px;
        margin-left: 0px;
        float: right;
    }

    .badDriver {
        position: relative;
        background-image: url("img/bad_driver.png");
        background-size: 100px;
        background-repeat: no-repeat;
        background-position-x: center;
        width: 70%;
        height: 100px;
        margin-left: 0px;
    }

    table {
        width: 100%;
        padding: 0px;
    }

    td {
        width: 100px;
    }

    #mileage {
        margin-top: 20px;
        background-color: white;
        height: 50px;
        vertical-align: middle;
        text-align: center;
        line-height: 50px;
        color: rgb(0, 163, 228);
    }

    a.ryde-blue-button{
        margin-top:30px;                
    }

    
</style>

<div>
<div id="main">
    <div style="padding-top:1.0em">
        <h4>{{MatchingText}}</h4>
    </div>
    <div id="mainArea">
        <div>
            <div id="profilePic"></div>
            <div id="profileText"><h5>ID: {{ UserId }}</h5><a><h5>Mileage: {{ KmsDriven }} kms</h5></a></div>
        </div>
    </div>
    <div id="mainArea2">
        <h4 style="text-align: center">Distance: {{ estdDist }} meters from me</h4>
    </div>

</div>
    <a class="ryde-blue-button accept" ng-click="acceptClick()">Accept</a>
    <a class="ryde-red-button decline">Decline</a>
    <!-- ng-click="declinelClick()" -->
</div></div>
