<style>
    h4 {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: left;
        color: dimgray;
        margin: 0px;
        margin-top: 0px;
    }

    #main {
        margin-top: 6%;
        height: 94%;
        margin-left: 7%;
        margin-right: 7%;
        width: 86%;
    }

    #mainArea {
        background-color: white;
        display: inline-table;
        width: 100%;
        height: 30%;
        margin-top: 15px;
        padding: 0px;
    }

    #mainArea2 {
        background-color: white;
        display: inline-table;
        width: 100%;
        height: 30%;
        margin-top: 0px;
        padding-bottom: 20px;
    }


    #profilePic {
        position: relative;
        background-image: url("img/blank_driver.png");
        background-size: 85px;
        width: 85px;
        height: 85px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        float: left;
    }

    #profileText {
        position: relative;
        margin-top: 10px;
        padding: 10px;
        float: left;
        max-width: 50%;
    }

    .goodDriver {
        position: relative;
        background-image: url("img/good_driver.png");
        background-size: 100px;
        background-repeat: no-repeat;
        background-position-x: center;
        width: 70%;
        height: 100px;
        margin-left: 0px;
        float: right;       
        opacity:0.7!important;
    }

    .selected {
        opacity: 1.0;
    }

    .badDriver {
        vertical-align: baseline;
        position: relative;
        background-image: url("img/bad_driver.png");
        background-size: 100px;
        background-repeat: no-repeat;
        background-position-x: center;
        width: 70%;
        height: 100px;
        margin-left: 0px;        
        opacity:0.7!important;
    }

    table {
        width: 100%;
        padding: 0px;
    }

    td {
        width: 100px;
    }

    #mileage {
        margin-top: 18px;
        background-color: white;
        height: 50px;
        vertical-align: middle;
        text-align: center;
        line-height: 50px;
        color: rgb(0, 163, 228);
    }

    #options {
        background-color: rgb(0, 163, 228);
        margin: 0px;
        margin-top: 10px;
        padding: 0px;
        height: 40px;
    }

    #optnRow {
        color: white;
        text-align: center;
        line-height: 40px;
    }

    #footerArea {
        position: absolute;
        overflow: hidden;
        width: 100%;
        bottom: 0;
        left: 0;
    }

        #footerArea a {
            float: left;
            width: 50%;
            height: 40px;
        }

        #footerArea .accept {
            background-color: red;
        }

        #footerArea .decline {
            background-color: blue;
        }

        .highlighted{
            opacity:1!important;
        }


</style>

<div>
    <div id="main">
        <div>
            <h4>Your RYDE has completed</h4>
        </div>
        <div id="mainArea">
            <div>
                <div id="profilePic"></div>
                <div id="profileText"><h4>ID: 301</h4><a><h4>Milage: {{KmsDriven}} km</h4></a></div>
            </div>
        </div>
        <div id="mainArea2">


            <h5 style="text-align: center">Please rate the driver</h5>
            <table>
                <tr>
                    <td>

                        <a ng-href="" class="goodDriver" ng-click="sumbitGoodDriverFeedback()" ng-class="{highlighted:showGoodDriver}"></a>
                    </td>
                    <td>
                        <a ng-href="" class="badDriver" ng-click="sumbitBadDriverFeedback()" ng-class="{highlighted:showBadDriver}"></a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="mileage">
            Estimated Mileage to Transfer: {{distance}} meters
        </div>
    </div>
    <div id="footerArea">
        <a class="ryde-blue-button" ng-href="#\">Transfer :)</a>
        <a class="ryde-red-button" ng-href="#\">Decline :(</a>
    </div>
</div>
