﻿@{
    Layout = null;
}

<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Ryde</title>
    <meta name="description" content="Ryde">
    <meta name="author" content="Ryde">

    @Styles.Render("~/Content/main.css")
</head>

<body>
    <div class="main_bg_wrapper">
        <div class="main_bg">

        </div>
    </div>
    <div class="divider">
    </div>
    <ul class="menu-wrapper">
        <li>
            <a class="qr_code start" href="www.google.co.nz" />
            </a>
        </li>
        <li>
            <a class="itunes" href="www.google.co.nz" />
            </a>
        </li>
        <li>
            <a class="play_store" href="www.google.co.nz" />
            </a>
        </li>
        <li>
            <a class="windows_store end" href="www.google.co.nz" />
            </a>
        </li>
        <li class="clear"></li>
    </ul>

    <div class="help">
        <a href="/Help">Click to browse APIs</a>
    </div>
</body>
</html>