body{
	margin:0px;
	padding:0px;
	background:#244b68;
    font-family:Arial;
    font-size:11px;
}

.main_bg{
	background-image:url(../../Content/Images/main_bg.png);	
	width:1024px;
	height:571px;
	display:block;
	margin:auto;
}

.main_bg_wrapper{
	background-image:url(../../Content/images/main_wrapper_bg.jpg);	
}

.divider{
	height:20px;
	background-color:#000000;
}

.menu-wrapper{
	background-color:#000000;
	margin:0px auto;
	padding:0px;	
	list-style:none;
	width:780px;
}

.qr_code,
.itunes,
.play_store,
.windows_store
{
	float:left;
	width:165px;
	height:163px;
	margin:0px 12px 24px 12px;	
}

.menu-wrapper a{
	display:block;
	
}

.qr_code{
	background-image:url(../../Content/images/qr_code.png);
}

.itunes{
	background-image:url(../../Content/images/itunes.png);
}

.play_store{
	background-image:url(../../Content/images/play_store.png);
}

.windows_store{
	background-image:url(../../Content/images/windows_store.png);

}

.start{
	margin-left:24px;
}

.end {
	margin-right:24px;
}

.clear{
	clear:both;
}

.help{
    text-align:center;
    padding-top:10px;    
}

.help a:link{
    text-decoration:none;    
    color:#ffffff;
}

.help a:visited{
    text-decoration:none;    
    color:#ffffff;
}