/* Your app's CSS, go crazy, make it your own */

* {
    font-family: 'Lato', sans-serif !important;
    font-weight: 400 !important;
    border: none;
}

body {
    background-image: url('img/background.png');
    background-size:   cover;  
    background-color: none;
    background-size: 100% auto;
    background-repeat: none;
    border: none;
}

.pane {
    background-image: url('../img/background.png');
    background-size:   cover;  
    opacity: 1.0;
    background-color: none !important;
    background-size: 100% auto;
    background-repeat: none;
    border: none;
}


.ionic-logo {
    display: block;
    margin: 15px auto;
    width: 96px;
    height: 96px;
}

.templateView {
    vertical-align: middle;
}

.h3 {
    font-size: 1.5em;
}

.h4 {
    font-size: 1.4em;
}

p {
    color: dimgray;
    font-size: 1.4em;
}

.ryde-grayborder {
    border: 1px gray;
}

/* styling header */
.nav-bar {
    /* disable borders, paddings, etc... */
    border: none;
    padding: 0;
    margin: 0;
    /* set colors */
    background-color: #0096d1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
    /* fix to top */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 3.0em;

}

.nav-bar-title {
    color: #FFF;
    font-family: 'Dosis', sans-serif !important;
    font-weight: 700 !important;
    font-size: 1.9em;
    line-height: 1.4em;
    padding-left: 10px;
}
/* styling header end */


/* styling buttons */

a {
    color: #EEE;
    position: relative;
    display: inline-block;
    margin: 0;
    min-width: 52px;
    min-height: 47px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 1.2em;
    line-height: 42px;
    cursor: pointer;
    text-decoration: none !important;
}

    a:hover {
        text-decoration: none;
    }

    a:active, .a.activated {
        opacity: 0.4;
    }

    a.ryde-blue-button {
        background-color: #0096d1;
    }

    a.ryde-red-button:active, .a.ryde-red-button.activated {
        background-color: #a75129;
        opacity: 0.4;
    }

    a.ryde-red-button {
        background-color: #f26624;
    }

    a.ryde-dark-button {
        background-color: #cc2311
    }

    a.ryde-blue-button:active, .a.ryde-blue-button.activated {
        background-color: #0b85ae;
        opacity: 0.4;
    }
